.app.dark {
  --bg-color: #06064b;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604;
  --secondary-color: #00ff00;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #004fff;
}