.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #06064b;

  --primary-color: #0232c2;
  --secondary-color: #0050ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #00ff00;
}